[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/minibufexpl.vim"]
	path = vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/vim-git-inline-diff"]
	path = vim/bundle/vim-git-inline-diff
	url = https://github.com/luxflux/vim-git-inline-diff.git
[submodule "vim/bundle/nginx-vim-syntax"]
	path = vim/bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/vim-lucius"]
	path = vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/go.vim"]
	path = vim/bundle/go.vim
	url = https://github.com/fsouza/go.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/jshint2.vim"]
	path = vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
